{{> head }}
    
    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Coche de lujo</h1>

            <p>
                Este coche es la hostia de caro
            </p>
        </div>


        <div class="col-4">
            <img src="assets/img/coche.jpg" class="img-thumbnail" />
        </div>
    </div>    

{{> footer }}    